
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #FFFF;
  background: #ebf2f5;
}

body, input, button, textarea{
  /*weight size family*/
  font: 600 18px Nunito, sans-serif;
}